extends layout

block title
  title='Client Site'

block content
  section.mainContent.clearfix
    .container
      .row
        .col-xs-6
          form.row(action=loginUrl, method='POST', role='form')
            .col-xs-12
              .page-header
                h4 Error
            .col-xs-12
              div.alert.alert-dismissible.alert-danger
                span
                  = error
